@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

html,
body {
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  @apply hover:text-yellow duration-300 uppercase;
}

.buttonGradient {
  border-image-slice: 1;
  border-width: 4px;
  border-left: 2px;
  border-image-source: linear-gradient(
    90deg,
    #24cbff 1.53%,
    #fc59ff 1.36%,
    #ffbd0c 117.73%
  );
}

h1 {
  @apply font-bold;
}

h4 {
  @apply text-2xl md:text-5xl font-bold;
}

.form-control input,
textarea {
  @apply px-4 py-2 text-black rounded-md outline-none w-full;
}

.button__submit {
  @apply bg-yellow px-4 py-2 text-black font-bold;
}
